<h2>BIRTHDAY PARTIES</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            @Html.Partial("_SidebarMenu", ProperArch01.WebApp.Helpers.HelperMethods.GetActivitiesMenu())
        </div>
        <div class="col-lg-8 col-md-8">

            <img src="~/Assets/Home/mlc-birthday-sm.jpg" style="margin: 20px;" />

            <table class="table table-striped table-bordered" style="text-align: center">
                <tr>
                    <th class="text-center">Birthday Party</th>
                    <th class="text-center">Rate</th>
                </tr>
                <tr>
                    <td>Sports Hall +Meeting Room (Friday 5PM – 6:30PM)</td>
                    <td>€80.00</td>
                </tr>
                <tr>
                    <td>Sports Hall + Meeting room (Saturday 1.30PM – 3.00PM)</td>
                    <td>€80.00</td>
                </tr>
                <tr>
                    <td>All Weather Pitch +Meeting Room (Friday)</td>
                    <td>€80.00</td>
                </tr>
                <tr>
                    <td>All Weather Pitch + Meeting Room (Saturday)</td>
                    <td>€80.00</td>
                </tr>
            </table>

        </div>
    </div>
</div>