<h2>BOOKING FORMS</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            @Html.Partial("_SidebarMenu", ProperArch01.WebApp.Helpers.HelperMethods.GetRatesMenu())
        </div>
        <div class="col-md-8 col-lg-8">


            <p>This page will contain links to 6 booking forms:</p>



            <ul>
                <li>After School Club Reg form</li>
                <li>Birthday Party Booking Form</li>
                <li>Sportshall Booking Form</li>
                <li>Mitchelstown Leisure Health Screening Form 1</li>
                <li>Member Registration Form</li>
                <li>Meeting Room Booking Form</li>
            </ul>
            <p>I am awaiting confirmation that these forms are up to date</p>

        </div>
    </div>
</div>




