<h2>CORPORATE RATES</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            @Html.Partial("_SidebarMenu", ProperArch01.WebApp.Helpers.HelperMethods.GetRatesMenu())
        </div>
        <div class="col-md-8 col-lg-8">
            Mitchelstown Leisure Centre provides a 10% discount on a single and couple 12 month membership to all corporate groups.

            Benefits Include:
            <ul>
                <li> Gym membership to our new state of the art facility.</li>
                <li> All exercise classes provided by MLC are included in membership.</li>
                <li> Over 20 classes per week to choose from.</li>
                <li> FREE programme & assessment (includes BMI, Body Fat, Flexibility etc.)</li>
                <li> Ongoing Re-assessments & New Programme Design every 8 weeks</li>
                <li> Motivation & Support to help reach your Health & Fitness Goals</li>
                <li> No confusing peak or off peak hours</li>
                <li> Open 7days a week to Gym Members (Mon-Fri 7am-10pm, Sat 9am-2pm & Sun 10am-2pm)</li>
            </ul>
        </div>
    </div>
</div>

