<div class="container">
    <div class="row">
        <div class="col-md-offset-4">

        </div>

        <div class="col-md-8">
            <h2>GYM</h2>

            <img src="../../Assets/Home/mlc-gym-sm.jpg"  style="margin:20px"/>

            <p>Mitchelstown Leisure Centre Gym is equipped with state of the art precor cardio equipment, free and machine weights. The gym boasts an interactive Exigo Monster Rig with highly trained staff always available to support and motivate members to achieve their fitness goals.</p>
            <p>Our membership prices provide fantastic value for money and incredibly, at no extra cost include your fitness classes. Become a member today and let us help you achieve your fitness goals for a healthier body and mind. Please click the link below to download Membership Forms, Terms and Conditions.</p>
            <ul>
                <li>Spacious Air Conditioned Fully Equipped Gymnasium</li>
                <li>State of the art Cardiovascular and Resistance Equipment</li>
                <li>Exigo Monster Rig.</li>
                <li>Free Weights.</li>
                <li>Gym Instructor to help at any time just ask</li>
                <li>Fitness Tests – Individuals assessed and a unique personalised programme is devised to ensure the best possible results for the individual. Instructor at hand to monitor the progress of the client and to alter the programme in any way necessary to suit the clients particular needs and abilities</li>
                <li>Personal Training available just ask at reception for details.</li>
            </ul>
        </div>
    </div>
</div>