<div>
    <h2>
        HISTORY
    </h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                @Html.Partial("_SidebarMenu", ProperArch01.WebApp.Helpers.HelperMethods.GetAboutMenu())
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h4 class="">
                    Aim:
                </h4>

                <p>
                    The genesis of the current development lies in a decision in the early 1990s that Mitchelstown lacked infrastructure in the community to make the town a more attractive place in which to live. The preferred option at the time was to build a swimming pool and a fundraising group was created for that purpose. Over the subsequent years a number of initiatives led to the purchase of an eight acre land bank. In 2001 four acres were sold to Tesco Ireland with the rest being retained for the development.
                </p>
                <p>
                    A planning application for a swimming pool development was granted in 2003. That proposal also included all the elements of the current development. Due to lack of funding support from the exchequer that planning permission was allowed lapse in 2008. By then the organising committee had accepted that any additional funding support would not be enough to build the type of leisure facility then proposed. So, the following year saw the beginning of the period of consultation with the community that has led to the complex now completed.
                </p>


            </div>
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-0">
            </div>
        </div>

    </div>
</div>
