<h2>MEETING ROOMS</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            @Html.Partial("_SidebarMenu", ProperArch01.WebApp.Helpers.HelperMethods.GetFacilitiesMenu())
        </div>
        <div class="col-md-8 col-lg-8">

            <img src="~/Assets/Home/mlc-meeting-room.jpg" style="margin: 20px" />

            <p>MLC offers a variety of meeting rooms to cater for all your requirements. There are three meeting rooms available:</p>
            <p>Meeting Room 1: Is a 2000 sq. ft. room available for conferences, training, meetings and social events. Meeting Room 2: Is ideal for small meeting and conferences for up to 12 adults. Meeting Room 3: Can cater for groups of up to 6 adults, ideal location for anyone practising physiotherapy/sports therapy or message.</p>
            <p>All meeting rooms are air conditioned, have access to kitchen facilities, foyer area, parking and Wi- Fi. The centre is wheelchair accessible and ideally located within the town centre minutes from the motorway.</p>
            <p>For further information on any of the meeting rooms available please contact MLC to speak with a member of staff.</p>
        </div>
    </div>
</div>