<h2>MEMBERSHIP RATES</h2>

<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-4">
            <div class="div-border">
                <div class="grad-background-pink div-border-top">
                    <h4>
                        <strong>SINGLE ADULT</strong>
                    </h4>
                    <h5 style="font-style:italic">
                        Standard membership
                    </h5>
                </div>
                
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €150
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €250
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €450
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Single Person
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
            <a href="#" class="btn btn-info btn-lg grad-button-pink-ani">
                MEMBERSHIP FORM
            </a>
        </div>

        <div class="col-md-4">
            <div class="div-border">
                <div class="grad-background-purple div-border-top">
                    <h4>
                        <strong>COUPLES</strong>
                    </h4>
                    <h5 style="font-style:italic">
                        Standard membership rate for adult couples
                    </h5>
                </div>

                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €225
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €400
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €675
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Adult Couples
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
            <a href="#" class="btn btn-info btn-lg grad-button-purple-ani">
                MEMBERSHIP FORM
            </a>
        </div>

        <div class="col-md-4">
            <div class="div-border">
                <div class="grad-background-skyblue div-border-top">
                    <h4>
                        <strong>CORPORATE</strong>
                    </h4>
                    <h5 style="font-style:italic">
                        Corporate
                    </h5>
                </div>
                
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €135
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €225
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €405
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Corporate
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
            <a href="#" class="btn btn-info btn-lg grad-button-skyblue-ani">
                MEMBERSHIP FORM
            </a>
        </div>
    </div>

    <div class="row" style="text-align: center;">
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <div class="grad-background-orangebrown div-border-top">
                    <h4>
                        <strong>SENIOR CITIZEN</strong>
                    </h4>
                    <h5 style="font-style:italic">
                        Standard membership
                    </h5>
                </div>

                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €135
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €225
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €405
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Senior Citizen
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
            <a href="#" class="btn btn-info btn-lg grad-button-orangebrown-ani">
                MEMBERSHIP FORM
            </a>

        </div>
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <div class="grad-background-bluegrey div-border-top">
                    <h4>
                        <strong>SENIOR CITIZENS</strong>
                    </h4>
                    <h5 style="font-style:italic">
                        Standard membership rate for senior couples
                    </h5>
                </div>
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €202.50
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €360
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €610
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Senior Citizen Couples
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
            <a href="#" class="btn btn-info btn-lg grad-button-bluegrey-ani">
                MEMBERSHIP FORM
            </a>
        </div>
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <div class="grad-background-limegreen div-border-top">
                    <h4>
                        <strong>STUDENTS</strong>
                    </h4>
                    <h5 style="font-style:italic">
                        Students
                    </h5>
                </div>
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €135
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €225
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €405
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Students
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
            <a href="#" class="btn btn-info btn-lg grad-button-limegreen-ani">
                MEMBERSHIP FORM
            </a>
        </div>
    </div>



    <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 40px;">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>