<h2>MEMBERSHIP RATES</h2>

<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <h4>
                    SINGLE ADULT
                </h4>
                <h5 style="font-style:italic">
                    Standard membership
                </h5>
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €150
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €250
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €450
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Single Person
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <h4>
                    COUPLES
                </h4>
                <h5 style="font-style:italic">
                    Standard membership rate for adult couples
                </h5>
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €225
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €400
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €675
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Adult Couples
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <h4>
                    CORPORATE
                </h4>
                <h5 style="font-style:italic">
                    Corporate
                </h5>
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €135
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €225
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €405
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Corporate
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 40px;">
        <div class="col-md-4">
            <a href="#" class="btn btn-info btn-lg">
                MEMBERSHIP FORM
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-info btn-lg">
                MEMBERSHIP FORM
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-info btn-lg">
                MEMBERSHIP FORM
            </a>
        </div>
    </div>

    <div class="row" style="text-align: center;">
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <h4>
                    SENIOR CITIZEN
                </h4>
                <h5 style="font-style:italic">
                    Standard membership
                </h5>
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €135
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €225
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €405
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Senior Citizen
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <h4>
                    SENIOR CITIZENS
                </h4>
                <h5 style="font-style:italic">
                    Standard membership rate for senior couples
                </h5>
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €202.50
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €360
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €610
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Senior Citizen Couples
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 10px;">
            <div class="div-border">
                <h4>
                    STUDENTS
                </h4>
                <h5 style="font-style:italic">
                    Students
                </h5>
                <div class="div-border-top">
                    <div class="row">
                        <div class="col-md-6 div-border-right">
                            <h3>
                                €135
                            </h3>
                            <h4>
                                3 months
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <h3>
                                €225
                            </h3>
                            <h4>
                                6 months
                            </h4>
                        </div>
                    </div>
                    <div style="border-top: solid thin; border-color:lightgray">
                        <h3>
                            €405
                        </h3>
                        <h4>
                            12 months
                        </h4>
                    </div>
                </div>
                <div style="border-top: solid thin; border-color:lightgray; padding: 10px;">
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Students
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Full Gym
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Personal Assistance
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Sports Hall
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Fitness Classes
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-ok" style="color:mediumseagreen"></span> Much More…
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 40px;">
        <div class="col-md-4">
            <a href="#" class="btn btn-info btn-lg">
                MEMBERSHIP FORM
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-info btn-lg">
                MEMBERSHIP FORM
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-info btn-lg">
                MEMBERSHIP FORM
            </a>
        </div>
    </div>
</div>