<div>
    <h2>
        MISSION/AIM
    </h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                @Html.Partial("_SidebarMenu", ProperArch01.WebApp.Helpers.HelperMethods.GetAboutMenu())
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h4 class="">
                    Aim:
                </h4>

                <p>
                    Mitchelstown Leisure Centre aim to create a facility that is accessible to all members within and surrounding Mitchelstown. To provide an environment promoting a more cohesive, active and healthier community.
                </p>

                <h4>
                    Mission Statement:
                </h4>



                <p>
                    To provide a diverse range of quality sport, recreational and leisure opportunities to all members of our community in a safe, friendly and fun environment that fosters an appreciation for a healthy and balanced lifestyle.
                </p>


            </div>
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-0">
            </div>
        </div>
        
    </div>
</div>
