<table class="table table-striped table-bordered" style="text-align: center">
    <tr>
        <th class="text-center">PAYG</th>
        <th class="text-center">Rate</th>
    </tr>
    <tr>
        <td>PAYG</td>
        <td>€8.00</td>
    </tr>

    <tr>
        <td>Senior Citizen</td>
        <td>€5.00</td>
    </tr>

    <tr>
        <td>Student</td>
        <td>€5.00</td>
    </tr>

    <tr>
        <td>Value Pack (10 visits)</td>
        <td>€72.00</td>
    </tr>

    <tr>
        <td>Senior Citizen Value Pack (10 Visit)</td>
        <td>€45.00</td>
    </tr>

    <tr>
        <td>Student Value Pack (10 Visit)</td>
        <td>€45.00</td>
    </tr>

    <tr>
        <td>Personal Training (1 Hour)</td>
        <td>€25.00</td>
    </tr>

    <tr>
        <td>Personal Training (6 Sessions)</td>
        <td>€125.00</td>
    </tr>
</table>
<strong>
    Terms and Conditions Apply for Membership please speak with a member of staff for further details.
</strong>