<div class="container">
    <div class="row">
        <div class="col-md-offset-4"></div>
        <div class="col-md-8">
            <h2>ALL WEATHER PITCH</h2>

            <img src="~/Assets/Home/mlc-pitch-sm.jpg" style="margin:20px"/>

            <p>MLC All Weather Pitch has been designed with two floodlight five a side pitches catering for soccer, gaa and hockey.  All clubs and groups who book with MLC will have access to showers, lockers and free parking.</p>

            <table class="table table-striped table-bordered" style="text-align: center; margin:20px">
                <tr>
                    <th class="text-center">All Weather Pitch</th>
                    <th class="text-center">Double Pitch</th>
                    <th class="text-center">Single Pitch</th>
                </tr>
                <tr>
                    <td>Off Peak Hour (9AM-5PM)</td>
                    <td>€50.00</td>
                    <td>€25.00</td>
                </tr>
                <tr>
                    <td>Junior Rate Hour (5PM-7PM)</td>
                    <td>€70.00</td>
                    <td>€35.00</td>
                </tr>
                <tr>
                    <td>Peak Hour (5PM-10PM)</td>
                    <td>€100.00</td>
                    <td>€50.00</td>
                </tr>
            </table>

            <table class="table table-striped table-bordered" style="text-align: center; margin:20px">
                <tr>
                    <th class="text-center">Sports Hall</th>
                    <th class="text-center">Full Hall</th>
                    <th class="text-center">Half Hall</th>
                </tr>
                <tr>
                    <td>Off Peak Hour (9AM- 5PM)</td>
                    <td>€30.00</td>
                    <td>€15.00</td>
                </tr>
                <tr>
                    <td>Peak Hour (5PM – 10PM)</td>
                    <td>€50.00</td>
                    <td>€25.00</td>
                </tr>
            </table>

            <table class="table table-striped table-bordered" style="text-align: center; margin:20px">
                <tr>
                    <th class="text-center">Activities Room</th>
                    <th class="text-center">Rate</th>
                </tr>
                <tr>
                    <td>Off Peak Hour (9AM-5PM)</td>
                    <td>€20.00</td>
                </tr>
                <tr>
                    <td>Peak Hour (5PM-10PM)</td>
                    <td>€30.00</td>
                </tr>
                <tr>
                    <td>Day (9AM – 5PM)</td>
                    <td>€70.00</td>
                </tr>
                <tr>
                    <td>Week (Mon-FRI, 9AM-5PM)</td>
                    <td>€350.00</td>
                </tr>
            </table>

            <table class="table table-striped table-bordered" style="text-align: center; margin:20px">
                <tr>
                    <th class="text-center">Birthday Party</th>
                    <th class="text-center">Rate</th>
                </tr>
                <tr>
                    <td>Sports Hall +Meeting Room (Friday 5PM – 6:30PM)</td>
                    <td>€80.00</td>
                </tr>
                <tr>
                    <td>Sports Hall + Meeting room (Saturday 1.30PM – 3.00PM)</td>
                    <td>€80.00</td>
                </tr>
                <tr>
                    <td>All Weather Pitch +Meeting Room (Friday)</td>
                    <td>€80.00</td>
                </tr>
                <tr>
                    <td>All Weather Pitch + Meeting Room (Saturday)</td>
                    <td>€80.00</td>
                </tr>
            </table>

            <p><strong>Note:</strong></p>
            <p>
                Off Peak Hours: Monday- Friday 9am-5pm, Saturdays 9am -2pm.
            </p>
            <p>
                Peak Hours: Monday- Friday 5pm-10pm
            </p>
        </div>
    </div>
</div>