<div class="container">
    <div class="row">
        <div class="col-md-offset-4">

        </div>
        <div class="col-md-8">
            <div>
                <h2 style="padding: 20px;">ALL WEATHER PITCH</h2>
                <div class="div-border" style="text-align: center">
                    <table class="table table-striped table-bordered" style="text-align: center">
                        <tr>
                            <th class="text-center">All Weather Pitch</th>
                            <th class="text-center">Full</th>
                            <th class="text-center">Half</th>
                        </tr>
                        <tr>
                            <td>Peak Floodlight Per /Hr</td>
                            <td>€100.00</td>
                            <td>€50.00</td>
                        </tr>
                        <tr>
                            <td>Off Peak Per /Hr</td>
                            <td>€50.00</td>
                            <td>€25.00</td>
                        </tr>
                    </table>
                    <p><strong>Note:</strong></p>
                    <p>Off Peak Hours: Monday- Friday 9am-5pm, Saturdays 9am -2pm.</p>
                    <p>Peak Hours: Monday- Friday 5pm-10pm</p>
                </div>



                <h2 style="padding: 20px;">SPORTS HALL</h2>
                <div class="div-border" style="text-align: center">
                    <table class="table table-striped table-bordered" style="text-align: center">
                        <tr>
                            <th class="text-center">Sports Hall</th>
                            <th class="text-center">Full</th>
                            <th class="text-center">Half</th>
                        </tr>
                        <tr>
                            <td>Peak Hours</td>
                            <td>€40.00</td>
                            <td>€20.00</td>
                        </tr>
                        <tr>
                            <td>Off Peak</td>
                            <td>€25.00</td>
                            <td>€15.00</td>
                        </tr>
                    </table>
                    <p><strong>Note:</strong></p>
                    <p>Off Peak Hours: Monday- Friday 9am-5pm, Saturdays 9am -2pm.</p>
                    <p>Peak Hours: Monday- Friday 5pm-10pm</p>
                </div>


                <h2 style="padding: 20px;">ACTIVITIES ROOM</h2>
                <div class="div-border" style="text-align: center">
                    <table class="table table-striped table-bordered" style="text-align: center">
                        <tr>
                            <th class="text-center">Activities Room</th>
                            <th class="text-center">Rate</th>
                        </tr>
                        <tr>
                            <td>Peak Hour</td>
                            <td>€30.00</td>
                        </tr>
                        <tr>
                            <td>Off Peak Hour</td>
                            <td>€20.00</td>
                        </tr>
                        <tr>
                            <td>Day</td>
                            <td>€70.00</td>
                        </tr>
                        <tr>
                            <td>Week</td>
                            <td>€350.00</td>
                        </tr>
                    </table>
                    <p><strong>Note:</strong></p>
                    <p>Off Peak Hours: Mon-Fri 9-5pm, Sat 9am-2pm</p>
                    <p>Peak Hours: Mon- Fri 5pm-10pm.</p>
                    <p>Week: Mon- Friday 8.30-4.15pm</p>
                </div>



                <h2 style="padding: 20px;">SCHOOLS RATE</h2>
                <div class="div-border" style="text-align: center">
                    <table class="table table-striped table-bordered" style="text-align: center">
                        <tr>
                            <th class="text-center">Time</th>
                            <th class="text-center">Rate</th>
                        </tr>
                        <tr>
                            <td>1 Hr</td>
                            <td>€20.00</td>
                        </tr>
                        <tr>
                            <td>2 Hrs</td>
                            <td>€30.00</td>
                        </tr>
                        <tr>
                            <td>3 Hrs</td>
                            <td>€40.00</td>
                        </tr>
                        <tr>
                            <td>4 – 6 Hrs</td>
                            <td>€50.00</td>
                        </tr>
                    </table>
                    <p><strong>Note:</strong></p>
                    <p>The schools rate is available Mon- Fri from 9am-5pm.</p>
                    <p>This rate is provided on a day basis and hours can only be used on that day.</p>
                </div>




                <h2 style="padding: 20px;">JUNIOR CLUB RATE</h2>
                <div style="text-align: center">
                    <table class="table table-striped table-bordered" style="text-align: center">
                        <tr style="text-align: center">
                            <th class="text-center">Day & Time</th>
                            <th class="text-center">Full</th>
                            <th class="text-center">Half</th>
                        </tr>
                        <tr>
                            <td>
                                Mon- Fri 9am-5pm

                                Sat 9am-2pm
                            </td>
                            <td>€50.00</td>
                            <td>€25.00</td>
                        </tr>
                        <tr>
                            <td>Mon- Fri  5pm-7pm</td>
                            <td>€70.00</td>
                            <td>€35.00</td>
                        </tr>
                        <tr>
                            <td>Mon- Fri 7pm-10pm</td>
                            <td>€100.00</td>
                            <td>€50.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


