
<h2>SPORTS HALL</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            @Html.Partial("_SidebarMenu", ProperArch01.WebApp.Helpers.HelperMethods.GetFacilitiesMenu())
        </div>
        <div class="col-md-8 col-lg-8">

            <img src="../../Assets/Home/mlc-hall-sm.jpg" style="margin:20px" />

            <p>Mitchelstown Sports Hall has been equipped to cater for the growing sporting and leisure needs of the local community. The hall measures 33x25metres and has been marked for:</p>

            <ul>
                <li>soccer,</li>
                <li>basketball,</li>
                <li>volleyball,</li>
                <li>badminton</li>
                <li>unihoc</li>
            </ul>

            <p>The Sports Hall is equipped for rounders, basketball, volleyball, tag-rugby, unit-hoc and much more. All sports equipment is available for use by community groups, clubs and Leisure Centre members. To book the sports hall please contact a member of staff on 025-52102. You can also secure your weekly slot by “Block Booking” please speak with a member of staff for further details. Sports Hall Booking Forms and Terms and Conditions are available to download here.</p>

            <table class="table table-striped table-bordered" style="text-align: center">
                <tr>
                    <th class="text-center">Sports Hall</th>
                    <th class="text-center">Full Hall</th>
                    <th class="text-center">Half Hall</th>
                </tr>
                <tr>
                    <td>Off Peak Hour (9AM- 5PM)</td>
                    <td>€30.00</td>
                    <td>€15.00</td>
                </tr>
                <tr>
                    <td>Peak Hour (5PM – 10PM)</td>
                    <td>€50.00</td>
                    <td>€25.00</td>
                </tr>
            </table>
            <p>
                Note Off Peak Hours: Mon- Friday 9am-5pm, Saturdays 9am -2pm.

                Peak Hours: Monday- Friday 5pm-10pm
            </p>


            <div class="col-md-4">
                <a href="#" class="btn btn-info btn-lg">
                    BOOKING FORM
                </a>
            </div>


            <div class="col-md-4">
                <a href="#" class="btn btn-info btn-lg">
                    RULES AND REG
                </a>
            </div>
        </div>
    </div>
</div>