<h2>SUMMER CAMPS</h2>
<div class="container">
    <div class="row">
        <<div class="col-md-4 col-lg-4">
            @Html.Partial("_SidebarMenu", ProperArch01.WebApp.Helpers.HelperMethods.GetActivitiesMenu())
        </div>
        <div class="col-lg-8 col-md-8">

            <img src="~/Assets/Home/mlc-summercamp-sm.jpg" />
        </div>
    </div>
</div>