@model ProperArch01.Contracts.Models.ScheduledClass.ScheduledClassIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Upcoming classes that require attention</h2>
        </div>
        <div class="col-md-2">
            <a href="#" style="bottom: 0px" data-toggle="tooltip" title="Example!!!">What is this?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            @Html.Partial("_IncompleteScheduledClasses", Model.ScheduledClassesRequiringCompletion)
        </div>
    </div>

        <div class="row">

        </div>
    </div>





<h2>Upcoming classes that do not require attention</h2>

@Html.Partial("_UpcomingScheduledClasses", Model.ScheduledClassesCompleted)

<h2>Upcoming classes that have been cancelled</h2>

@Html.Partial("_UpcomingCancelledClasses", Model.CancelledScheduledClasses)
