body {
    padding-top: 100px;
    padding-bottom: 0px;
}

html {
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.div-border {
    border: solid thin;
    border-color: lightgray;
}

.div-border-padded {
    border: solid thin;
    border-color: lightgray;
    padding: 8px;
}

    .div-border-padded > h4 {
        padding-left: 16px;
    }

.div-border-top {
    border-top: solid thin;
    border-color: lightgray;
}

    .div-border-top > h4 {
        padding-left: 16px;
    }

.div-border-bottom {
    border-bottom: solid thin;
    border-color: lightgray;
}

.div-border-left {
    border-left: solid thin;
    border-color: lightgray;
}

.div-border-right {
    border-right: solid thin;
    border-color: lightgray;
}

.timetable > tr {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}

    .timetable > tr > td, th {
        padding: 4px 6px;
        width: 2%;
        margin-bottom: 0;
    }

.carousel-mark-blue {
    background-color: #64B8D9;
    color: white;
    padding: 10px;
    margin: 10px;
}

.carousel-mark-lightgray {
    background-color: rgba(255, 255, 255, 0.8);
    color: #21409A;
    padding: 10px;
    margin: 10px;
}

    .carousel-mark-blue, .carousel-mark-lightgray > h3, p {
        font-size: 125%;
    }

.membership-color-darkerblue {
    background-color: #087DC2;
    color: white;
    padding-bottom: 20px;
    height: 260px;
    position: relative;
}

.membership-color-dullerblue {
    background-color: #5D9CC1;
    color: white;
    padding-bottom: 20px;
    height: 260px;
    position: relative;
}

.membership-color-salmon {
    background-color: #E54766;
    color: white;
    padding-bottom: 20px;
    height: 260px;
    position: relative;
}

.deemphasised {
    font-size: 0.7em;
    opacity: 0.7;
}

.gallery-image {
    width: 280px;
    height: 210px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

    .gallery-image:hover {
        transition: 0.5s;
        transform: scale(2);
        padding: 0px;
        background-color: white;
    }

    .gallery-image > img {
        vertical-align: middle;
        max-height: 210px;
        padding: 8px;
    }

.footer-full-width {
    width: 100%;
    height: 200px;
    background-color: #21409A;
    color: white;
    position: relative;
    bottom: 0;
}

.opening-hours-bottom {
    position: relative;
    right: 20px;
    bottom: 40px;
    top: 0;
}

.navbar-bottom {
    width: 100%;
    position: relative;
    bottom: 0;
    height: 40px;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    border-top: thin solid;
    border-color: white;
    border-radius: 0px;
}

.footer-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.grad-background-pink {
    background-image: linear-gradient(-45deg, lightgray, white, lightgray);
    height: 100%;
}

    .grad-background-pink > h4 {
        color: #DE1F80;
    }

    .grad-background-pink:hover {
        background-image: linear-gradient(-45deg, #DE1F80, #EF80B8, #DE1F80);
        color: white;
        transition: 0.5s;
    }

        .grad-background-pink:hover > h4 {
            color: white;
            transition: 0.5s;
            font-style: inherit;
        }

.grad-background-purple {
    background-image: linear-gradient(-45deg, lightgray, white, lightgray);
    height: 100%;
}

    .grad-background-purple > h4 {
        color: #980CB6;
    }

    .grad-background-purple:hover {
        background-image: linear-gradient(-45deg, #980CB6, #BD59D2, #980CB6);
        color: white;
        transition: 0.5s;
    }

        .grad-background-purple:hover > h4 {
            color: white;
            transition: 0.5s;
            font-style: inherit;
        }

.grad-background-skyblue {
    background-image: linear-gradient(-45deg, lightgray, white, lightgray);
    height: 100%;
}

    .grad-background-skyblue > h4 {
        color: #1ABAFF;
    }

    .grad-background-skyblue:hover {
        background-image: linear-gradient(-45deg, #1ABAFF, #79D6FF, #1ABAFF);
        color: white;
        transition: 0.5s;
    }

        .grad-background-skyblue:hover > h4 {
            color: white;
            transition: 0.5s;
            font-style: inherit;
        }

.grad-button-pink-ani {
    border-radius: 0px;
    margin: 20px;
    background-color: #DE1F80;
}

    .grad-button-pink-ani:hover {
        transform: rotateX(360deg);
        transition: 1s;
        background-color: #DE1F80;
    }


.grad-button-purple-ani {
    border-radius: 0px;
    margin: 20px;
    background-color: #980CB6;
}

    .grad-button-purple-ani:hover {
        transform: rotateX(360deg);
        transition: 1s;
        background-color: #980CB6;
    }


.grad-button-skyblue-ani {
    border-radius: 0px;
    margin: 20px;
    background-color: #1ABAFF;
}

    .grad-button-skyblue-ani:hover {
        transform: rotateX(360deg);
        transition: 1s;
        background-color: #1ABAFF;
    }

.grad-background-orangebrown {
    background-image: linear-gradient(-45deg, lightgray, white, lightgray);
    height: 100%;
}

    .grad-background-orangebrown > h4 {
        color: #E36243;
    }

    .grad-background-orangebrown:hover {
        background-image: linear-gradient(-45deg, #E36243, #E8917D, #E36243);
        color: white;
        transition: 0.5s;
    }

        .grad-background-orangebrown:hover > h4 {
            color: white;
            transition: 0.5s;
            font-style: inherit;
        }

.grad-background-bluegrey {
    background-image: linear-gradient(-45deg, lightgray, white, lightgray);
    height: 100%;
}

    .grad-background-bluegrey > h4 {
        color: #74A1C8;
    }

    .grad-background-bluegrey:hover {
        background-image: linear-gradient(-45deg, #74A1C8, #A3C2DD, #74A1C8);
        color: white;
        transition: 0.5s;
    }

        .grad-background-bluegrey:hover > h4 {
            color: white;
            transition: 0.5s;
            font-style: inherit;
        }

.grad-background-limegreen {
    background-image: linear-gradient(-45deg, lightgray, white, lightgray);
    height: 100%;
}

    .grad-background-limegreen > h4 {
        color: #7CCA36;
    }

    .grad-background-limegreen:hover {
        background-image: linear-gradient(-45deg, #7CCA36, #9DD569, #7CCA36);
        color: white;
        transition: 0.5s;
    }

        .grad-background-limegreen:hover > h4 {
            color: white;
            transition: 0.5s;
            font-style: inherit;
        }

.grad-button-orangebrown-ani {
    border-radius: 0px;
    margin: 20px;
    background-color: #E36243;
}

    .grad-button-orangebrown-ani:hover {
        transform: rotateX(360deg);
        transition: 1s;
        background-color: #E36243;
    }

.grad-button-bluegrey-ani {
    border-radius: 0px;
    margin: 20px;
    background-color: #74A1C8;
}

    .grad-button-bluegrey-ani:hover {
        transform: rotateX(360deg);
        transition: 1s;
        background-color: #74A1C8;
    }


.grad-button-limegreen-ani {
    border-radius: 0px;
    margin: 20px;
    background-color: #7CCA36;
}

    .grad-button-limegreen-ani:hover {
        transform: rotateX(360deg);
        transition: 1s;
        background-color: #7CCA36;
    }


@media screen and (max-width: 992px) {
    .gallery-image {
        width: 248px;
        height: 186px;
    }

        .gallery-image > img {
            max-height: 180px;
        }

    .membership-color-darkerblue, .membership-color-dullerblue, .membership-color-salmon {
        height: 220px;
        padding: 8px;
        margin: 8px;
    }

    .navbar-bottom {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .gallery-image {
        width: 150px;
        height: 112px;
    }

        .gallery-image > img {
            max-height: 112px;
        }

    body {
        padding-bottom: 0px;
    }

    footer-full-width {
        height: 400px;
    }

    .navbar-bottom {
        display: none;
        background-color: #21409A;
    }

    .opening-hours-bottom {
        position: relative;
        left: 0px;
        bottom: 0px;
        top: 0;
    }
}
