body {
    padding-top: 100px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.div-border
{
    border: solid thin;
    border-color: lightgray;
}

.div-border-padded {
    border: solid thin;
    border-color: lightgray;
    padding: 8px;
}

.div-border-padded > h4 {
    padding-left: 16px;
}

.div-border-top {
    border-top: solid thin;
    border-color: lightgray;
}

.div-border-top > h4 {
    padding-left: 16px;
}

.div-border-bottom {
    border-bottom: solid thin;
    border-color: lightgray;
}

.div-border-left {
    border-left: solid thin;
    border-color: lightgray;
}

.div-border-right {
    border-right: solid thin;
    border-color: lightgray;
}

.timetable > tr {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}

.timetable  > tr > td, th {
    padding: 4px 6px;
    width: 2%;
    margin-bottom: 0;
}

.carousel-mark-blue {
    background-color: #64B8D9;
    color: white;
    padding: 10px;
    margin: 10px;
}

.carousel-mark-lightgray {
    background-color: rgba(255, 255, 255, 0.8);
    color: #21409A;
    padding: 10px;
    margin: 10px;
}

.carousel-mark-blue, .carousel-mark-lightgray > h3, p {
    font-size: 125%;
}

.membership-color-darkerblue {
    background-color: #087DC2;
    color: white;
    padding-bottom: 20px;
    height: 260px;
    position: relative;
}

.membership-color-dullerblue {
    background-color: #5D9CC1;
    color: white;
    padding-bottom: 20px;
    height: 260px;
    position: relative;
}

.membership-color-salmon {
    background-color: #E54766;
    color: white;
    padding-bottom: 20px;
    height: 260px;
    position: relative;
}

.deemphasised {
    font-size: 0.7em;
    opacity: 0.7;
}

.gallery-image {
    /*display: inline-block;*/
    width: 280px;
    height: 210px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
    .gallery-image:hover {
        transition: 0.5s;
        transform: scale(2);
        padding: 0px;
        background-color: white;
    }

.gallery-image > img {
    vertical-align: middle;
    max-height: 210px;
    padding: 8px;
}

.footer-full-width {
    width: 100%;
    height: 200px;
    background-color: #21409A;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-bottom {
    position: relative;
    margin-bottom: 0px;
    border-radius: 0px;
}

.footer-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 992px) {
    .gallery-image {
        width: 248px;
        height: 186px;
    }

    .gallery-image > img {
        max-height: 180px;
    }

    .membership-color-darkerblue, .membership-color-dullerblue, .membership-color-salmon {
        height: 220px;
        padding: 8px;
        margin: 8px;
    }
}

@media screen and (max-width: 600px) {
    .gallery-image {
        width: 150px;
        height: 112px;
    }

    .gallery-image > img {
        max-height: 112px;
    }

    body {
        padding-bottom: 0px;
    }

    footer-full-width {
        height: 280px;
    }
}